.container {
  display: flex;
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div {
  margin-right: 10px;
}

.container > * {
  border-radius: 5px;
  box-shadow: 0px 0px 8px -5px black;
  /* background-color: rgb(227, 227, 227); */
  background-color: whitesmoke;
}

.container > *:hover {
  border-radius: 5px;
}

.container > * > * {
  border-radius: 5px;
  background-color: whitesmoke;
  border: none;
  color: black;
  height: 2.5rem;
  min-width: 2rem;
  padding: 0 10px;
  font-weight: bold;
}

.container > * > *:hover {
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
