.container {
  display: flex;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container > * {
  border-radius: 5px;
  background-color: rgb(197, 197, 197);
  /* background-color: lightblue; */
  border: 1px solid rgb(184, 184, 184);
}

.container > *:hover {
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
}

.container > * > * {
  border: none;
  background-color: lightgray;
  color: black;
  height: 2.5rem;
  min-width: 2rem;
  border-right: 1px solid gray;
  padding: 0 10px;
}

.container > * > *:hover {
  border-radius: 5px;
  background-color: black;
  color: white;
}
