.tasks-page {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;

  background-color: rgb(227, 227, 227);
}

.tasks-container {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.filters-container {
  height: 15%;
  display: flex;
  align-items: center;
}

.select-items {
  width: 50%;
  height: 5rem;
  display: flex;
  justify-content: center;
}

.select-items > button {
  border: 1px solid gray;
  border-radius: 5px;
  height: 2.5rem;
  padding: 0 10px;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
}

.select-items > button:hover {
  background-color: black;
  color: white;
}
