.tasks-page {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  background-color: rgb(227, 227, 227);
}

.tasks-container {
  height: 85%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  height: 15%;
  padding-left: 10px;
}

.header > p {
  margin-top: 10px;
  height: 2rem;
}

.filters-container {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}
