.search-bar {
  display: flex;
  width: 45%;
  /* height: 50%; */
}

.search-icon {
  display: flex;
  align-items: center;

  height: 8vh;
  width: 3rem;
  margin-right: 10px;

  /* background-color: #302c40; */
}

.search-icon > img {
  height: 25px;
  width: 25px;
}

.search-input {
  /* margin-left: 20px; */
  height: 2.5rem;
  width: 94.5%;

  border: none;
  font-size: 1rem;
  padding: 5px 15px;

  color: black;
  /* background-color: #302c40; */
}

.search-input::placeholder {
  color: gray;
}

.search-input:focus {
  outline: none;
}
