.task {
  display: flex;
  background-color: whitesmoke;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid lightgray;
}
.input-container {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task > div > input {
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.task-content {
  width: 90%;
  padding: 10px;
  height: 6rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task-content > h1 {
  font-size: 1.1rem;
}

.task-content > p {
  width: 35rem;
  white-space: nowrap;
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
