.task {
  display: flex;
  background-color: whitesmoke;
  padding: 10px;
  margin-bottom: 3px;
  margin-left: 20px;
  width: 773px;
}
.input-container {
  width: 33px;
}

.task > div > input {
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.task-content {
  margin: 0px;
  height: 6rem;
  cursor: pointer;
}

.task-content > h1 {
  font-size: 1.1rem;
}

.task-content > p {
  width: 45rem;
  white-space: nowrap;
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
